{% extends "base.html" %}
{% load i18n %}
{% load custom_publish_tags %}

{% block heading %}{% trans "My Courses" %}{% endblock %}
{% block sub-heading %}
      <hr><a class="btn btn-primary" href="{%  url 'administration:course_create' %}">{% trans 'Create a new course' %}</a>
{% endblock %}
{% block content %}
    <div class="row">
        {% for course in object_list %}
            <div class="col-md-4 mb-3">
                <div class="course card text-center">
                    <div class="card-img-container">

                        <div style="background-image:url({{ course.getPicture}})" class="image-box mx-auto d-block img-fluid card-img-top" title="Title image of a course">

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                                <h4 class="card-title">
                                {{ course.name }}
                                </h4>
                                <p class="card-content">{{ course.short_description }}</p>
                        </div>

                        <div class="body-buttons">
                            <div class="row">
                                <div class="col-6 text-left">
                                    <a href="{% url 'administration:course_detail' course_slug=course.slug %}"
                                       class="btn btn-primary">{% trans 'Edit' %}</a>
                                </div>
                                <div class="col-6 text-right">
                                    <form action="{% url 'administration:course_publish' course_slug=course.slug %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" class="btn {% if course.published %}btn-secondary{% else %}btn-primary{% endif %}" value="{% get_action_name course %}"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-md-12">
            <p>{% trans 'No courses available.' %}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
