{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load avatar_tags %}
{% load url_helper %}

{% block references %}
    {{ block.super }}
      <link rel="stylesheet" type="text/css" href="{% static 'css/switch-btn.css' %}" />
{% endblock %}



{% block heading %}{% trans "Course" %} {{ course.name }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
        <img src="{{ course.getPicture}}" class="mx-auto d-block img-fluid card-img-top" alt="Title image of a course"/>
    </div>
    <div class="col-md-8">
      <p>{% blocktrans with description=course.short_description %}{{ description }}{% endblocktrans %}</p>
      <p>{% blocktrans with description=course.long_description %}{{ description }}{% endblocktrans %}</p>
    </div>
    <div class="col-sm"></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <hr>

        <a class="btn btn-secondary" href="{%  url 'administration:lesson_create' course_slug=course.slug %}">{% trans 'Create a new lesson' %}</a>
        <a class="btn btn-secondary" href="{%  url 'administration:course_update' course_slug=course.slug %}">{% trans 'Edit the course details' %}</a>
        <a class="btn btn-secondary" href="{%  url 'administration:solution_detail' course_slug=course.slug %}">{% trans 'Exercise evaluation' %}</a>
        <span class="switch course">
            <input type="checkbox" class="switch" id="btn-edit-course-structure"><label for="btn-edit-course-structure">{% trans 'Edit the course structure' %}</label></span>
        <p/>
        <ol class='course-structure list-group lesson-list '>
         {% for lesson in course.lessons.all|dictsort:"position" %}
            <li class="list-group-item lesson" data-type="lesson" data-id="{{ lesson.id }}">{{ lesson.name }}
                 <div style="float:right; margin-right: 20px">
                 <a class="disabledStructureUpdate" href="{% url 'administration:lesson_update' lesson_slug=lesson.slug course_slug=course.slug %}" title="{% trans 'Edit the lesson' %}">
                     <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-edit.svg' %}"/></svg-icon></a>
                 <a class="disabledStructureUpdate" href="{% url 'administration:task_create' lesson_slug=lesson.slug course_slug=course.slug %}" title="{% trans 'Create a new task' %}">
                     <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-plus.svg' %}"/></svg-icon></a>
                 <a class="disabledStructureUpdate" href="{% url 'administration:lesson_delete' lesson_slug=lesson.slug course_slug=course.slug%}" title="{% trans 'Delete the lesson' %}">
                     <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-delete.svg' %}"/></svg-icon></a>
                 <a class="lesson up" title="{% trans 'Up' %}">
                     <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-arrow-thick-up.svg' %}"/></svg-icon></a>
                 <a class="lesson down" title="{% trans 'Down' %}">
                     <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-arrow-thick-down.svg' %}"/></svg-icon></a>
                  </div>
                <p>
                <ol class="task-list">
                {% for task in lesson.get_related_tasks.all|dictsort:"position" %}
                <li class="list-group-item task" data-type="task" data-id="{{ task.id }}">
                  <div>{% blocktrans with task_name=task.name %}{{ task_name }}{% endblocktrans %}</div>
                    <div style="float:right; margin-top: -20px">
                        <a class="disabledStructureUpdate" href="{% get_task_update_url task.derived_type task.slug course.slug %}" title="{% trans 'Edit the task' %}">
                            <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-edit.svg' %}"/></svg-icon></a>
                        <a class="disabledStructureUpdate" href="{% get_task_admin_detail_url task.derived_type task.slug course.slug %}" title="{% trans 'Show task preview' %}">
                            <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-button-play.svg' %}"/></a>
                        <a class="disabledStructureUpdate" href="{% url 'administration:task_delete' course_slug=course.slug task_slug=task.slug %}" title="{% trans 'Delete the task' %}">
                            <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-delete.svg' %}"/></a>
                        <a class="task up" title="{% trans 'Up' %}">
                            <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-arrow-thick-up.svg' %}"/></svg-icon></a>
                        <a class="task down" title="{% trans 'Down' %}">
                            <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-arrow-thick-down.svg' %}"/></svg-icon></a>
                    </div>
                </li>
              {% endfor %}
              </ol>
             </li>
         {% endfor %}
        </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-lg-12">
      <hr>
      <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item"><p>{% blocktrans with language=course.get_course_language_display %}Language: {{ language }}{% endblocktrans %}</p></li>
        <li class="list-group-item"><p>{% blocktrans with effort=course.effort %}Effort: {{ effort }} minutes{% endblocktrans %}</p></li>
      </ul>
    </div>
    <div class="col-md-9">
      <ul class="list-group">
        <li class="list-group-item">
          <ul class="list-inline">
            <li class="list-inline-item"><p>{% trans "Category:" %}</p></li>
            {% for category in course.categories.all %}
              <li class="list-inline-item">{{ category }}</li>
            {% endfor %}
          </ul>
        </li>
        <li class="list-group-item">
          <ul class="list-inline">
            <li class="list-inline-item"><p>Previous knowledge:</p></li>
              {% for prerequisite in course.prerequisites.all %}
                <li class="list-inline-item">{{ prerequisite }}</li>
              {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div></div>
    <div class="col-sm"></div>
  </div>
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-lg-12">
      <hr>
      <ul class="list-inline">
        <li class="list-inline-item">{% trans "Trainer:" %}</li>
        {% for instructor in course.instructors.all %}
        <li class="list-inline-item">
          <a href="{%  url 'administration:instructor_detail' course_slug=course.slug instructor_slug=instructor.username %}" class="details">
            {% avatar instructor 40 class="mx-auto rounded-circle"%} {{ instructor }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm"></div>
  </div>

{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'javascript/course_detail.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/jquery-sortable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course/course_detail.js' %}"></script>
{% endblock %}
