{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load avatar_tags %}


{% block js %}
<script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course/course_detail.js' %}"></script>
{% endblock %}

{% load url_helper %}

{% block heading %}
    {% trans "Details of instructor " %}{%blocktrans with username=user.username%}{{username}}{%endblocktrans%}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
                {% avatar user 235 class="mx-auto rounded-circle styled-avatar"%}
    </div>
    <div class="col-md-9">
        <table class="table">
            <tr>
                <th>{% trans "Username: " %}</th>
                <td>{%blocktrans with username=user.username%}{{username}}{%endblocktrans%}</td>
                <td></td>
            </tr>
            <tr>
                <th>{% trans "Name: "%}</th>
                <td>
                    {%blocktrans with first_name=user.first_name%}{{first_name}}{%endblocktrans%}
                    {% blocktrans with last_name=user.last_name %} {{last_name}}{% endblocktrans %}
                </td>
            </tr>
            <tr>
                <th>{% trans "Email: "%}</th>
                <td>{% blocktrans with email=user.email %} {{email}}{% endblocktrans %}</td>
            </tr>
        </table>
    </div>
</div>


<h3>{% trans "Biography"%}</h3>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Position: " %}</th>
                    <th>{% trans "Institution: "%}</th>
                    <th>{% trans "From: "%}</th>
                    <th>{% trans "To: "%}</th>
                </tr>

            </thead>
              {% for event in events%}
            <tbody>
                <tr>
                    <td>{%blocktrans with position=event.position%}{{position}}{%endblocktrans%}</td>
                    <td>{%blocktrans with institution=event.institution%}{{institution}}{%endblocktrans%}</td>
                    <td>{%blocktrans with from=event.start_date%}{{from}}{%endblocktrans%}</td>
                    <td>{%blocktrans with to=event.end_date%}{{to}}{%endblocktrans%}</td>
                </tr>
            </tbody>

          {% endfor%}
        </table>
    </div>
</div>


<h3>{% trans "Specialties"%}</h3>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Title: " %}</th>
                    <th>{% trans "Knowledge level: "%}</th>
                </tr>
            </thead>
              {% for specialty in specialties%}
            <tbody>
            <tr>
               <td>{%blocktrans with title=specialty.title%}{{title}}{%endblocktrans%}</td>
                <td>{%blocktrans with knowledge_level=specialty.get_knowledge_level_display%}{{knowledge_level}}{%endblocktrans%}</td>
            </tr>
            </tbody>
        {% endfor%}
        </table>

    </div>
</div>


<h3>{% trans "Courses of the same instructor "%}</h3>
<div class="row">
    <div class="col-12">
      <!-- Course History or Most Recent Actovoties-->
      <hr>
    </div>
      {% for course in courses %}
        <div class="col-12 mt-3">
            <h4>{{ course.name }}</h4>
            <p>{{ course.short_description }}</p>
            <a class="btn btn-secondary enough-space-down" href="{%  url 'administration:course_detail' course_slug=course.slug %}" class="details">{% trans 'Details' %}</a>
        </div>
      {% empty %}
           <div class="col-12">
          <p>{% trans 'No courses available.' %}</p>
          </div>
      {% endfor %}
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
        <a class="btn btn-primary enough-space-down" href="{{ request.META.HTTP_REFERER }}" class="details">
              {% trans "Back " %}
        </a>
    </div>
</div>
{% endblock %}