{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
var category_url = "{% url 'prerequisite:create_category_ajax' %}";
</script>

<script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course/course_create.js' %}"></script>
{% endblock %}

{% block heading %}{% trans "Update course details" %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {%if form.errors%}
                <div class="alert alert-danger fade show" role="alert">
                    {{form.errors}}
                </div>
            {%endif%}
            <div>
                {{ form.name|as_crispy_field }}
            </div>
            <div>
                {{ form.short_description|as_crispy_field }}
            </div>
            <div>
                {{ form.long_description|as_crispy_field }}
            </div>
            <div>
                {{ form.course_language|as_crispy_field }}
            </div>
            <div>
                {{ form.effort|as_crispy_field }}
            </div>
            <div>
                {{ form.picture|as_crispy_field }}
            </div>
            <div class="enough-space-down">
                {{ form.categories|as_crispy_field }}
                <button id="toggle_category_form" class="btn btn-secondary">{% trans 'Create category' %}</button>
                <div id="category_form" style="display:none;" class="hidden card card-body mt-3">
                    {{ category_form|crispy }}
                    <button id="create_category_but" class="btn btn-primary" style="width: 180px">{% trans " Add new category" %}
                    </button>
                </div>
            </div>
            <div>
                {{ form.prerequisites|as_crispy_field }}
            </div>
            <div class="enough-space-down">
                {{ form.instructors|as_crispy_field }}
            </div>
            <hr>
            <input type="submit" class="btn btn-primary mt-4 enough-space-down" value="{% trans "Update" %}" >
        </form>
    </div>
</div>

{% endblock %}
