{% extends "administration/tasks/task_admin_detail.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load martortags %}
{% load url_helper %}
{% block references %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/martor.css' %}" />

    <link href="{% static 'plugins/css/semantic.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'martor/css/martor.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" media="all" rel="stylesheet" >
{% endblock %}

{% block task-content %}
        <p>{% trans "The question is: "%}</p>
        <div class="martor-preview">
           {{ exercise.task|safe_markdown }}
        </div>
        <p class="enough-space-up">{% trans "Your solution (either text or file upload):"%}</p>
          <form method="post" action="">
               <div>
                    <p>{% trans "Enter text"%}</p>
                    {{ form.solution|as_crispy_field }}
                </div>
                <div>
                    {{ form.file|as_crispy_field }}
                </div>
          </form>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/semantic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'martor/js/martor.min.js' %}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
