{% extends "desk/tasks/task_detail.html" %}
{% load i18n %}
{% load staticfiles %}
{% block js %}
<script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/task/programmingexercise/exercise_detail.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/ace/ace.js' %}"></script>
<!-- load ace language tools -->
<script type="text/javascript" src="{% static 'javascript/ace/ext-language_tools.js' %}"></script>
<script>
    ace.require("ace/ext/language_tools");
    var solution = ace.edit("solution");
    solution.setTheme("ace/theme/katzenmilch");
    solution.session.setMode("ace/mode/{{ programmingexercise.language }}");
    solution.setAutoScrollEditorIntoView(true);
    solution.setOption("maxLines", 30);
    solution.setOption("minLines", 6);

    // enable autocompletion and snippets
    solution.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: false
    });
</script>
{% endblock %}
{% block task_content %}
<div>
    <p>{{ programmingexercise.task }}</p>
    <pre id="solution" name="solution"></pre>

    <div class="row">
        <div class="col-9">
            <button id="send_code_but" class="btn btn-primary">{% trans "Check solution" %}</button>
        </div>
        <div id="spinning_wheel" class="col-3 spinning-container text-right invisible">
            <svg-icon class="spinning">
                <src href="{% static 'svg/spinner.svg' %}"/>
            </svg-icon>
        </div>
    </div>

    <pre id="output" name="output"></pre>
</div>
{% endblock %}
