{% extends "desk/tasks/task_detail.html" %}
{% load i18n %}
{% load task_tags %}

{% block task_content %}
    <div>
        {% if readonly == True  %}
            <div>
        {% else %}
            <form method="post" action="{% url 'desk:quiz_pass' task_slug=quiz.slug %}">
        {% endif %}
        {% csrf_token %}
        {% for question in quiz.get_questions %}
            <div class="form-group mt-2">
                <h4>{{ question.text }}:</h4>
            </div>
            {% for answer in question.get_answers %}
                <div class="form-check">
                    <input type="{% if question.type == '0' %}radio{% else %}checkbox{% endif %}"
                           id="answer-{{ answer.id }}" name="question-{{ question.id }}"
                           value="{{ answer.id }}"
                           {% if readonly == True  %}disabled{% endif %}
                           {% if readonly == True  %}{% get_user_answer answer user_answers %}{% endif %}
                           class="form-check-input {% get_answer_validation answer user_answers %}">
                    <label for="answer-{{ answer.id }}"
                           class="form-check-label">{{ answer.text }}</label>
                </div>
            {% endfor %}
        {% endfor %}
        {% if readonly == True  %}
            </div>
        {% else %}
            <hr>
            <button class="btn btn-secondary mt-3" type="submit">{% trans "Send results" %}</button>
            </form>
        {% endif %}
    </div>
{% endblock %}