{% extends "base.html" %}
{% load i18n %}
{% load desk_url_helper %}
{% load usersuccess_tag %}

{% block content %}
<div id="task-detail-page-container" class="clearfix">
    <div class="sidebar">
       {% for lesson in task.lesson.course.lessons.all|dictsort:"position"  %}
            <div>{{ lesson.name }}</div>
            <ul>
                 {% for task_in_list in lesson.get_related_tasks|dictsort:"position" %}
                     <li class="sidebar-list-item">
                         {% get_user_success task_in_list user as user_success%}
                         {% if task.slug == task_in_list.slug %}
                            <span class="glyphicon glyphicon-arrow-right"></span>
                         {% else %}
                            <span class="glyphicon glyphicon-ok {% if user_success %} user-success-true {% else %} user-success-none {% endif %}" aria-hidden="true"></span>
                         {% endif %}
                         <a href="{% get_task_detail_url task_in_list.derived_type task_in_list.slug %}">
                             {{ task_in_list.name }}
                         </a>
                     </li>
                 {% endfor %}
            </ul>
        {% endfor %}
    </div>

    <div id="task-detail-content">
          <div class="row">
            <div class="col-lg-12">
                <h2>{{ task.name }}</h2><hr>
                {% block task_content %}
                {% endblock %}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
                <div class="page-navigation mt-4">
                    <hr>
                    <ul class="pagination task-button-orientation">
                        <form method="POST" action="{% url 'desk:previous' task_slug=task.slug %}">
                            {% csrf_token %}
                            <li class="page-item">
                                <button type="submit" class="page-link task-button btn btn-primary">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    {% trans "Previous" %}
                                </button>
                            </li>
                        </form>
                        <form method="POST" action="{% url 'desk:next' task_slug=task.slug %}">
                            {% csrf_token %}
                            <li class="page-item">
                                <button type="submit" class="page-link task-button btn btn-primary">
                                    {% trans "Next" %}
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </li>
                        </form>
                      </ul>
                </div>
            </div>
          </div>
    </div>
</div>

{% endblock %}