{% extends "desk/tasks/task_detail.html" %}
{% load i18n %}

{% block task_content %}
    <div align="center">
        <video autoplay controls class="embed-responsive-item" src="{{ video.upload.url }}">
        </video>
    </div>
{% endblock %}