{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load avatar_tags %}
{% load url_helper %}

{% block heading %}{% trans "Catalog - Course" %} {{ course.name }}{% endblock %}

{% block content %}
{% if course.published %}
    <div class="row">
      <div class="col-lg-12">
        <p>{{ course.short_description }}</p>
        <hr>
        {% if authenticated == True %}
          {% if participate == False %}
          <form method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="{% trans "Enter" %}"/>
          </form>
          {% else %}
            <p>{% trans "You are a member of this course" %}</p>
            <a class="btn btn-primary" href="{%  url 'course:continue' course_slug=course.slug %}">{% trans 'Start' %}</a>
          {%  endif %}
        {%  endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm"></div>
      <div class="col-lg-12">
        <hr>
        <p>{{ course.long_description }}</p>
      </div>
      <div class="col-sm"></div>
    </div>
    <div class="row course-detail">
      <div class="col-sm"></div>
      <div class="col-lg-12">
        <hr>
        <p>Lessons:</p>
        <div class="list-group">
        {% for lesson in course.lessons.all|dictsort:"position" %}

            <p href="#details_{{ lesson.slug }}" class="list-group-item" data-toggle="collapse" aria-expanded="false">
              <svg-icon class="nav-glyph toggle right"><src href="{% static 'svg/si-glyph-arrow-right.svg' %}"/></svg-icon>
              <svg-icon class="nav-glyph toggle down"><src href="{% static 'svg/si-glyph-arrow-down.svg' %}"/></svg-icon>
              {% blocktrans with lesson_name=lesson.name %}{{ lesson_name }}{% endblocktrans %}
            </p>
            <div class="list-group collapse" id="details_{{ lesson.slug }}">


                {% for task in lesson.get_related_tasks.all|dictsort:"position" %}
                  <p class="list-group-item">
                    {% blocktrans with task_name=task.name %}{{ task_name }}{% endblocktrans %}
                  </p>
                {% endfor %}

            </div>

        {% endfor %}
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-lg-12">
        <hr>
        <div class="row">
      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item"><p>{% blocktrans with language=course.get_course_language_display %}Language: {{ language }}{% endblocktrans %}</p></li>
          <li class="list-group-item"><p>{% blocktrans with effort=course.effort %}Effort: {{ effort }} minutes{% endblocktrans %}</p></li>
        </ul>
      </div>
      <div class="col-md-9">
        <ul class="list-group">
          <li class="list-group-item">
            <ul class="list-inline">
              <li class="list-inline-item"><p>{% trans "Category:" %}</p></li>
              {% for category in course.categories.all %}
                <li class="list-inline-item">{{ category }}</li>
              {% endfor %}
            </ul>
          </li>
          <li class="list-group-item">
            <ul class="list-inline">
              <li class="list-inline-item"><p>Previous knowledge:</p></li>
              {% for prerequisite in course.prerequisites.all %}
                <li class="list-inline-item">{{ prerequisite }}</li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div></div>
      <div class="col-sm"></div>
    </div>
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-lg-12">
        <hr>
        <ul class="list-inline">
          <li class="list-inline-item">{% trans "Trainer:" %}</li>
          {% for instructor in course.instructors.all %}
          <li class="list-inline-item">
            <a href="{%  url 'catalog:instructor_detail' course_slug=course.slug instructor_slug=instructor.username %}" class="details">
              {% avatar instructor 40 class="mx-auto rounded-circle"%} {{ instructor }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm"></div>
    </div>

{% endif %}
{% endblock %}
{% block js %}
<script src="{% static 'javascript/course_detail.js' %}"></script>
{% endblock %}
