{% extends "base.html" %}
{% load i18n %}
{% load custom_tags %}
{% load crispy_forms_tags %}


{% block heading %}{% trans "Course Catalog" %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <form action="{% url 'catalog:courses' %}" method="get" class="search-form">
                {% csrf_token %}
                <div class="row my-form-inline">
                    <div class="col-md-6 col-lg-auto">
                        {{ form.q|as_crispy_field }}
                    </div>
                     <div class="col-md-6 col-lg-auto">
                        {{ form.categories|as_crispy_field }}
                    </div>
                     <div class="col-md-6 col-lg-auto">
                        {{ form.languages|as_crispy_field }}
                    </div>
                    <div class="col-md-6 col-lg-auto search-button">
                        <input type="submit" class="btn btn-primary" value="{% trans "Search" %}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        {% for course in object_list %}
            <div class="col-md-4 mb-3">
                <div class="course card text-center">
                    <div class="card-img-container">
                        <div style="background-image:url({{ course.getPicture}})" class="image-box mx-auto d-block img-fluid card-img-top" title="Title image of a course"></div>
                    </div>

                    <div class="card-body">
                        <div class="card-text">
                            <h4 class="card-title">
                            {{ course.name }}
                            </h4>

                            <p class="card-content">{{ course.short_description }}</p>
                        </div>
                        <div class="body-buttons">
                            <div class="row">
                                <div class="col-6 mx-auto text-left">
                                    {% if request.user.is_authenticated %}
                                    <form action="{% url 'catalog:courses' %}" method="post">
                                        <input hidden name="course_slug" value="{{ course.slug }}">
                                        {% get_action course participants as action%}
                                        <input hidden name="action"
                                               value="{{ action }}">
                                        {% csrf_token %}
                                        <input type="submit" class="btn {% if action == 'enter' %}btn-primary{% else %}btn-secondary{% endif %}"
                                               value="{% get_action_name course participants %}"/>
                                    </form>
                                {% endif %}
                                </div>
                                <div class="{% if request.user.is_authenticated %}col-6 text-right{% else %}col-12 text-center{% endif %}">
                                    <a href="{% url 'catalog:course_detail' course_slug=course.slug %}"
                                       class="details btn btn-primary">{% trans 'Details' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-md-12">
            <p>{% trans 'No courses available.' %}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
