{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load martortags %}

{% block references %}
<link rel="stylesheet" type="text/css" href="{% static 'css/martor.css' %}" />

<link href="{% static 'martor/css/martor.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" media="all" rel="stylesheet" >
{% endblock %}

{% block heading %}{% trans "Exercise evaluation: " %}{{ course.name }}{% endblock %}

{% block content %}
<div class="container">
{% for sol in solution_list %}

    <div class="row">
      <div class="col-sm">
        <br>
        <h4>{% trans "Exercise: " %}{{ task.name }}</h4>

        <div class="row">
        <div class="col-sm">
          <p>{% trans "Task: " %}</p>
          <div class="martor-preview">
             {{ sol.0.exercise.task|safe_markdown }}
          </div>
        </div>
        <div class="col-sm">
          <p>{% trans "Master solution: " %}</p>
          <div class="martor-preview">
             {{ sol.0.exercise.solution|safe_markdown }}
          </div>
        </div>
      </div>

      </div>

    </div>

    <div class="row">
      <div class="col-sm">
        <br>
        <p>{% trans "User solution: " %}</p>
        {% for sol in sol.1 %}
                  <div class="card">
                    <br>
                    <div class="card-body">
                      <div class="martor-preview">
                         {{ sol.solution|safe_markdown }}
                      </div>
                    </div>
                    <div class="card-footer ">
                      <div class="btn-group" role="group">
                          <form method="post" action="{% url 'administration:solution_pass' course_slug=course.slug %}">
                              {% csrf_token %}
                              <input type="hidden" name="user" value="{{ sol.user }}">
                              <input type="hidden" name="exercise" value="{{ sol.exercise }}">

                              <input type="submit" class="btn btn-primary" name="TRUE" value="{% trans "Accept" %}" >
                          </form>
                          <form class="right-eval-button" method="post" action="{% url 'administration:solution_pass' course_slug=course.slug %}">
                              {% csrf_token %}
                              <input type="hidden" name="user" value="{{ sol.user }}">
                              <input type="hidden" name="exercise" value="{{ sol.exercise }}">

                              <input type="submit" class="btn btn-danger" name ="FALSE" value="{% trans "Reject" %}" >
                          </form>
                      </div>
                    </div>
                  </div>
                  <br>
                {% empty %}
                <p>{% trans "Everything corrected here!" %}</p>
                {% endfor %}

{% empty %}
  <p>{% trans "No exercise in this course." %}</p>
{% endfor %}

</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
