{% load i18n %}
{% load avatar_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% trans "Lernplattform" %}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/LMS-logo.png' %}">

    {% block references %}
    {% endblock %}

    {% block css %}
      <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'css/design.css' %}" />
    {% endblock %}
</head>
<body>
    {% block javascript %}
      <script src="{% static 'javascript/iconwc.js' %}"></script>
      <script src="{% static 'js/message_management.js' %}"></script>
    {% endblock %}

    {% include "navigation.html" %}

    <div {%  if request.resolver_match.url_name != "home" %}class="container"{% endif %}>
            <div class="row">
                <div id="messageContainer" class="col-12">
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}
                            alert-dismissible fade show"
                             role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    {% endif %}
            </div>
        </div>

        {%  if request.resolver_match.url_name != "home" %}
        <div class="row">
            <div class="col-12">
                <div class="space-ten"></div>
                <h2>
                    {% block heading %}
                    {% endblock %}
                </h2>
                {% block sub-heading %}
                {% endblock %}
                <hr>
            </div>
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    <footer class="footer">
        <hr>
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link lpf-nav-link" href="#Support">{% trans "Support" %}</a></li>
            <li class="nav-item"><a class="nav-link lpf-nav-link" href="#About Us">{% trans "About Us" %}</a></li>
            <li class="nav-item"><a class="nav-link lpf-nav-link" href="#Terms of service">{% trans "Terms of Service" %}</a></li>
          </ul>
    </footer>
    {% endblock %}



      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="{% static 'javascript/bootstrap/bootstrap.min.js' %}"></script>
    {% block js %}
    {% endblock %}
</body>

</html>
