{% load i18n %}
{% load avatar_tags %}
{% load staticfiles %}
{% load custom_chat_tags %}

<div class="navbar navbar-expand-lg lpf-navbar lpf-bg">
      <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/LMS-logo-white.png' %}" alt="{% url 'home' %}" height="40" border="0" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupported" aria-controls="navbarSupported" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupported">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item lpf-nav-item lpf-nav-item-text {% if request.resolver_match.url_name == "home" %}active{% endif %}"><a class="nav-link" href="{% url 'home' %}"><svg-icon class="nav-glyph nav-glyph-home"><src href="{% static 'svg/modern-home.svg' %}"/></svg-icon>{% trans "Home" %}</a></li>
              {% if request.user.is_authenticated %}
              <li class="nav-item lpf-nav-item lpf-nav-item-text {% if request.resolver_match.app_name == "desk" %}active{% endif %}"><a class="nav-link" href="{% url 'desk:courses' %}"><svg-icon class="nav-glyph nav-glyph-desk"><src href="{% static 'svg/modern-desk.svg' %}"/></svg-icon>{% trans "My Desk" %}</a></li>
              {% endif %}
              <li class="nav-item lpf-nav-item lpf-nav-item-text {% if request.resolver_match.app_name == "catalog" %}active{% endif %}"><a class="nav-link" href="{% url 'catalog:courses' %}"><svg-icon class="nav-glyph nav-glyph-catalog"><src href="{% static 'svg/modern-book.svg' %}"/></svg-icon>{% trans "Catalog" %}</a></li>
              {% if request.user.is_authenticated %}
              <li class="nav-item lpf-nav-item lpf-nav-item-text {% if request.resolver_match.app_name == "chat" %}active{% endif %}"><a class="nav-link" href="{% url 'chat:conversations' %}"><svg-icon class="nav-glyph nav-glyph-chat"><src href="{% static 'svg/si-glyph-mail.svg' %}"/></svg-icon>{% trans "Conversations" %}</a></li>
              {% endif %}
              {% if request.user.is_authenticated and request.user.can_be_instructor%}
              <li class="nav-item lpf-nav-item lpf-nav-item-text {% if request.resolver_match.app_name == "prerequisite" or request.resolver_match.app_name == "administration" %}active{% endif %} dropdown">
                <a class="nav-link dropdown-toggle" id="administration" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    <svg-icon class="nav-glyph nav-glyph-admin"><src href="{% static 'svg/modern-book-edit.svg' %}"/></svg-icon>
                  {% trans "Administration" %}
                </a>

                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="administrationmenu">
                  <a class="dropdown-item {% if request.resolver_match.app_name == "administration" %}active{% endif %}" href="{% url 'administration:courses' %}">{% trans "My courses" %}</a>
                  <a class="dropdown-item {% if request.resolver_match.app_name == "prerequisite" %}active{% endif %}" href="{% url 'prerequisite:category_overview' %}">{% trans "My categories" %}</a>
                </div>
              </li>
              {% endif %}
            </ul>
            <ul class="navbar-nav navbar-right">
              <!--<li class="nav-item"><span class="nav-link">{% trans "Welcome to LMS: " %}</span></li>-->
              {% if request.user.is_authenticated %}
              <li class="nav-item lpf-nav-item lpf-nav-item-text {% has_unread_messages user %}"><a class="nav-link" href="{% url 'chat:conversations' %}"><svg-icon class="nav-glyph nav-glyph-catalog"><src href="{% static 'svg/si-glyph-mail-has-mail.svg' %}"/></svg-icon><strong>{% trans "new messages" %}</strong></a></li>
              <li class="nav-item dropdown lpf-nav-item lpf-nav-item-avatar {% if request.resolver_match.app_name == "user_profile" %}active{% endif %}">
                <a class="nav-link dropdown-toggle" id="usermenue" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% avatar user 40 class="rounded-circle" %}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="usermenue">
                  <span style="padding:0.25rem 2.5rem;">{{ user.username }}</span>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item {% if request.resolver_match.app_name == "user_profile" %}active{% endif %}" href="{% url 'profile:profile' %}"><svg-icon class="nav-glyph"><src href="{% static 'svg/modern-user.svg' %}"/></svg-icon>{% trans "profile" %}</a>
                  <a class="dropdown-item {% if request.resolver_match.app_name == "user_profile" %}active{% endif %}" href="{% url 'profile:edit_profile' %}"><svg-icon class="nav-glyph"><src href="{% static 'svg/modern-settings.svg' %}"/></svg-icon>{% trans "settings" %}</a>
                  <a class="dropdown-item" href="{% url 'logout' %}"><svg-icon class="nav-glyph"><src href="{% static 'svg/si-glyph-sign-out.svg' %}"/></svg-icon>{% trans "logout" %}</a>
                </div>
              </li>
              {% else %}
               <li class="nav-item lpf-nav-item lpf-nav-item-text"><a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a></li>
              {% endif %}
            </ul>
          </div>
      </div>
</div>

