[Unit]
Description=gunicorn daemon

[Service]
User={{ project_name }}
Group=docker
WorkingDirectory=/home/{{ project_name }}/www/src
ExecStart=/home/{{ project_name }}/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/{{ project_name }}/run/gunicorn.sock config.wsgi_production:application

[Install]
WantedBy=multi-user.target
