{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block references %}
{{ block.super }}
      <link rel="stylesheet" type="text/css" href="{% static 'css/switch-btn.css' %}" />
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/task/quiz/quiz_update.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/jquery-sortable.js' %}"></script>
{% endblock %}

{% block heading %}{% trans "Update quiz" %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm"></div>
        <div class="col-lg-12">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="{% trans " Update" %}" \>
            </form>
        </div>
    <div class="col-sm"></div>
</div>
<hr>
<span class="switch course"><input type="checkbox" class="switch" id="btn-edit-quiz-structure"><label for="btn-edit-quiz-structure">{% trans 'Edit the quiz structure' %}</label></span>
<button id="toggle_question_form" class="btn btn-secondary" >{% trans 'Create a new question' %}</button>
<div id="question_form" style="display:none;" class="hidden card card-body mt-3" >
    <form method="post" action="{% url 'administration:quiz_question_create' task_slug=task_slug course_slug=course_slug %}">
        {% csrf_token %}
        {{ question_form|crispy }}
        <input type="submit" class="btn btn-primary" value="{% trans " Add this question" %}" \>
    </form>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <ol class='course-structure list-group lesson-list '>
            {% for question in quiz.get_questions.all|dictsort:"position" %}
            <li class="list-group-item question" data-type="question" data-id="{{ question.id }}">{{ question.text }}
                <div style="float:right; margin-right: 20px">
                    <a class="disabledStructureUpdate" href="{% url 'administration:quiz_question_update' task_slug=task_slug course_slug=course_slug question_slug=question.slug %}" title="{% trans 'Edit the question' %}">
                        <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-edit.svg' %}"/></svg-icon></a>
                     <a class="disabledStructureUpdate" href="{% url 'administration:quiz_answer_create' task_slug=task_slug course_slug=course_slug question_slug=question.slug %}" title="{% trans 'Create a new answer' %}">
                         <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-plus.svg' %}"/></svg-icon></a>
                     <a class="disabledStructureUpdate" href="{% url 'administration:quiz_question_delete' course_slug=course_slug task_slug=task_slug question_slug=question.slug%}" title="{% trans 'Delete the question' %}">
                         <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-delete.svg' %}"/></svg-icon></a>
                    <a class="question up" title="{% trans 'Up' %}">
                        <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-arrow-thick-up.svg' %}"/></svg-icon></a>
                    <a class="question down" title="{% trans 'Down' %}">
                        <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-arrow-thick-down.svg' %}"/></svg-icon></a>
                </div>
                <p>
                <ol class="task-list">
                    {% for answer in question.get_answers.all|dictsort:"position" %}
                    <li class="list-group-item answer" data-type="answer" data-id="{{ answer.id }}">
                        <div style="float:right">
                            <a class="disabledStructureUpdate" href="{% url 'administration:quiz_answer_update' course_slug=course_slug task_slug=task_slug answer_slug=answer.slug %}" title="{% trans 'Edit the answer' %}">
                                <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-edit.svg' %}"/></svg-icon></a>
                            <a class="disabledStructureUpdate" href="{% url 'administration:quiz_answer_delete' course_slug=course_slug task_slug=task_slug answer_slug=answer.slug %}" title="{% trans 'Delete the answer' %}">
                                <svg-icon class="course-glyph"><src href="{% static 'svg/si-glyph-delete.svg' %}"/></svg-icon></a>
                            <a class="answer up" title="{% trans 'Up' %}">
                                <svg-icon class="course-glyph">
                                    <src href="{% static 'svg/si-glyph-arrow-thick-up.svg' %}"/>
                                </svg-icon>
                            </a>
                            <a class="answer down" title="{% trans 'Down' %}">
                                <svg-icon class="course-glyph">
                                    <src href="{% static 'svg/si-glyph-arrow-thick-down.svg' %}"/>
                                </svg-icon>
                            </a>
                        </div>
                        {% if answer.is_correct %}
                        <div class="answer correctAnswer">({% trans "Correct" %})</div>
                        {% else %}
                        <div class="answer wrongAnswer">({% trans "Wrong" %})</div>
                        {% endif %}
                        <div class="answer">{% blocktrans with answer_text=answer.text %}{{ answer_text }}{% endblocktrans %}</div>
                    </li>
                    {% endfor %}
                </ol>
            </li>
            {% endfor %}
    </ol>
    </div>
</div>
{% endblock %}