{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block heading %}{{ formHeadline }}{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <hr>
    <input type="submit" class="btn btn-primary" value="{{ formButtonLabel }}">
</form>
{% endblock %}