{% extends "administration/tasks/task_admin_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block task-content %}
    <div>
        <div>
            {% for question in quiz.get_questions %}
                <div class="form-group mt-2">
                    <h4>{{ question.text }}:</h4>
                </div>
                {% for answer in question.get_answers %}
                    <div class="form-check">
                        <input type="{% if question.type == '0' %}radio{% else %}checkbox{% endif %}"
                               id="answer-{{ answer.id }}" name="question-{{ question.id }}"
                               value="{{ answer.id }}"
                               class="form-check-input ">
                        <label for="answer-{{ answer.id }}"
                               class="form-check-label">{{ answer.text }}</label>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}