/* color of choice: Teal #009688
-----------------------------------------------------*/
// main colors
$lpf-color: #009688;            // 500
$lpf-color-text: #fff;
$lpf-color-disabled: #b2b9c1;

// navbar colors
$lpf-color-navbar-background: $lpf-color;    // 500
$lpf-color-navbar-active: #00695C;           // 800
$lpf-color-navbar-hover: #00897B;            // 600
$lpf-color-navbar-text: $lpf-color-text;

// button colors
// primary
$lpf-color-button-text-primary: $lpf-color-navbar-text;
$lpf-color-button-background-primary: $lpf-color-navbar-background;     // 500
$lpf-color-button-active-primary: $lpf-color-navbar-active;             // 800
$lpf-color-button-hover-primary: $lpf-color-navbar-hover;               // 600
$lpf-color-button-shadow-primary: #B2DFDB;                              // 100
$lpf-color-button-border-primary: #00796B;                              // 700

// secondary
$lpf-color-button-text-secondary: #000;
$lpf-color-button-background-secondary: #E0F2F1;    // 50
$lpf-color-button-active-secondary: #4DB6AC;        // 300
$lpf-color-button-hover-secondary: #B2DFDB;         // 100
$lpf-color-button-shadow-secondary: #E0F2F1;        // 50
$lpf-color-button-border-secondary: #80CBC4;        // 200

// dropdown + toggler-icon
$lpf-color-border: #80CBC4; // 200

// progress-bar
$lpf-color-progress-bar: #1DE9B6;   // A400

// a-tag
$lpf-color-a-hover: #004D40;    // 900

// btn danger
$lpf-color-button-text-danger: $lpf-color-navbar-text;
$lpf-color-background-danger: #F44336; // 500
$lpf-color-button-active-danger: #C62828;             // 800
$lpf-color-button-hover-danger: #E53935;  // 600
$lpf-color-button-shadow-danger: #FFCDD2; // 100
$lpf-color-border-danger: #D32F2F; // 700

/* font
-----------------------------------------------------*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300 !important;
  font-size: 1.05rem;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400 !important;
}

.btn {
  font-weight: 300 !important;
}

.dropdown-item {
  font-weight: 300 !important;
}


/* footer
-----------------------------------------------------*/
.footer ul li a {
 color: $lpf-color !important;
}

/* navbar
-----------------------------------------------------*/
.lpf-bg {
  background-color: $lpf-color-navbar-background !important;
}

a.lpf-bg:hover, a.lpf-bg:focus,
button.lpf-bg:hover,
button.lpf-bg:focus {
  background-color: $lpf-color-navbar-hover !important;
}

#navbarSupported {
    background-color: $lpf-color-navbar-background !important;
}

.lpf-navbar .navbar-brand {
  color: $lpf-color-navbar-text;
}

.lpf-navbar .navbar-brand:hover, .lpf-navbar .navbar-brand:focus {
  color: $lpf-color-navbar-text;
}

.lpf-navbar .navbar-nav .nav-link {
  color: $lpf-color-navbar-text;
}

.lpf-navbar .navbar-nav .nav-link:hover:not(.active), .lpf-navbar .navbar-nav .nav-link:focus {
  color: $lpf-color-navbar-text;
}

.lpf-navbar .navbar-nav .nav-link.disabled {
  color: $lpf-color-disabled;
}

.lpf-navbar .navbar-nav .show > .nav-link,
.lpf-navbar .navbar-nav .active > .nav-link,
.lpf-navbar .navbar-nav .nav-link.show,
.lpf-navbar .navbar-nav .nav-link.active {
  color: $lpf-color-navbar-text;
}

.lpf-nav-item {
  padding-left: 5px;
}

.lpf-nav-item-text{
  padding-top: 5px;
  padding-bottom: 4px;
}

@media (max-width: 991.98px) {
    .lpf-nav-item-text{
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
}

.lpf-nav-item:hover:not(.active){
  background-color: $lpf-color-navbar-hover;
  border-radius: 7px 7px;
}

.lpf-nav-item.active {
  background-color: $lpf-color-navbar-active;
  border-radius: 7px 7px;
}

.lpf-nav-link {
    margin-bottom: 15px !important;
}

.lpf-navbar .navbar-toggler {
  color: $lpf-color-navbar-text;
  border-color: $lpf-color-border;
}

.lpf-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.lpf-navbar .navbar-text {
  color: $lpf-color-navbar-text;
}

.lpf-navbar .navbar-text a {
  color: $lpf-color-navbar-text;
}

.lpf-navbar .navbar-text a:hover, .lpf-navbar .navbar-text a:focus {
  color: $lpf-color-navbar-text;
}

.dropdown-menu {
  color: $lpf-color-navbar-text;
  background-color: $lpf-color-navbar-background;
  border: 1px solid $lpf-color-border;
}

.dropdown-item {
  color: $lpf-color-navbar-text;
  background-color: transparent;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: $lpf-color-navbar-text;
  background-color: $lpf-color-navbar-hover;
}

.dropdown-item.active, .dropdown-item:active {
  color: $lpf-color-navbar-text;
  background-color: $lpf-color-navbar-active;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: $lpf-color-navbar-text;
  background-color: transparent;
}

.dropdown-divider{
  border-top: 1px solid $lpf-color-border !important;
}


/* content
-----------------------------------------------------*/

/*--------------------button-----------------*/
.btn {
  min-width: 80px;
  color: $lpf-color-button-text-primary;
  background-color: $lpf-color-button-background-primary;
  border-color: $lpf-color-button-background-primary;
}

.btn-primary{
  color: $lpf-color-button-text-primary;
  background-color: $lpf-color-button-background-primary;
  border-color: $lpf-color-button-border-primary;
}

.btn-primary:hover {
  color: $lpf-color-button-text-primary;
  background-color: $lpf-color-button-hover-primary;
  border-color: $lpf-color-button-hover-primary;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem $lpf-color-button-shadow-primary;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: $lpf-color-button-text-primary;
  background-color: $lpf-color-disabled;
  border-color: $lpf-color-disabled;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: $lpf-color-button-text-primary;
  background-color: $lpf-color-button-active-primary;
  border-color: $lpf-color-button-active-primary;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $lpf-color-button-shadow-primary;
}

.btn-secondary {
  color: $lpf-color-button-text-secondary;
  background-color: $lpf-color-button-background-secondary;
  border-color: $lpf-color-button-border-secondary;
}

.btn-secondary:hover {
  color: $lpf-color-button-text-secondary;
  background-color: $lpf-color-button-hover-secondary;
  border-color: $lpf-color-button-hover-secondary;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem $lpf-color-button-shadow-secondary;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: $lpf-color-button-text-secondary;
  background-color: $lpf-color-disabled;
  border-color: $lpf-color-disabled;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: $lpf-color-button-text-secondary;
  background-color: $lpf-color-button-active-secondary;
  border-color: $lpf-color-button-active-secondary;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $lpf-color-button-shadow-secondary;
}

/*-------------------------------------------*/

.btn-danger{
  color: $lpf-color-button-text-danger;
  background-color: $lpf-color-background-danger;
  border-color: $lpf-color-border-danger;
}

.btn-danger:hover {
  color: $lpf-color-button-text-danger;
  background-color: $lpf-color-button-hover-danger;
  border-color: $lpf-color-button-hover-danger;
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0.2rem $lpf-color-button-shadow-danger;
}

.btn-danger.disabled, .btn-danger:disabled {
  color: $lpf-color-button-text-danger;
  background-color: $lpf-color-disabled;
  border-color: $lpf-color-disabled;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: $lpf-color-button-text-danger;
  background-color: $lpf-color-button-active-danger;
  border-color: $lpf-color-button-active-danger;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $lpf-color-button-shadow-danger;
}

/*-------------------------------------------*/

/*--------------------forms-----------------*/
.form-control:focus{
  box-shadow: 0 0 0 0.2rem $lpf-color-button-shadow-primary;
  border-color: $lpf-color-button-shadow-primary;
}


/*--------------------glyph-----------------*/
.course-glyph > svg g g, .course-glyph > svg g path {
    fill: $lpf-color !important;
}

.nav-glyph svg g g, .nav-glyph svg g path, .nav-glyph svg g ellipse {
    fill: $lpf-color-text;
}

.edit-glyph > svg g g, .edit-glyph > svg g path {
   fill: $lpf-color !important;
}

/*--------------------Links-----------------*/
a {
  color: $lpf-color;
}

a:hover {
  color: $lpf-color-a-hover;
  text-decoration: underline;
}

/*-------------Progress Bar-----------------*/
.bg-success {
  background-color: $lpf-color-progress-bar !important;
}

.progress-bar {
  color: black;
}
