.marked-emoji {
  max-width: 20px;
}

.martor-preview {
  .marked-emoji {
    max-width: 20px;
  }
  font-size: 14px;
  line-height: 1.6;
  > * {
    &:first-child {
      margin-top: 0 !important;
    }
    &:last-child {
      margin-bottom: 20px !important;
    }
  }
  a {
    &.absent {
      color: #c00;
    }
    &.anchor {
      display: block;
      padding-left: 30px;
      margin-left: -30px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
  }
  h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
    text-decoration: none;
    line-height: 1;
    padding-left: 0;
    margin-left: -22px;
    top: 15%;
  }
  h1 {
    tt, code {
      font-size: inherit;
    }
  }
  h2 {
    tt, code {
      font-size: inherit;
    }
  }
  h3 {
    tt, code {
      font-size: inherit;
    }
  }
  h4 {
    tt, code {
      font-size: inherit;
    }
  }
  h5 {
    tt, code {
      font-size: inherit;
    }
  }
  h6 {
    tt, code {
      font-size: inherit;
    }
  }
  h1 {
    font-size: 28px;
    color: #000;
  }
  h2 {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    color: #000;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    color: #777;
    font-size: 14px;
  }
  p, blockquote, ul, ol, dl, table, pre {
    margin: 15px 0;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }
  > {
    h2:first-child {
      margin-top: 0;
      padding-top: 0;
    }
    h1:first-child {
      margin-top: 0;
      padding-top: 0;
      + h2 {
        margin-top: 0;
        padding-top: 0;
      }
    }
    h3:first-child, h4:first-child, h5:first-child, h6:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }
  a:first-child {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      padding-top: 0;
    }
  }
  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    margin-top: 0;
  }
  li p.first {
    display: inline-block;
  }
  ul {
    li {
      list-style: disc;
    }
    padding-left: 30px;
  }
  ol {
    padding-left: 30px;
  }
  ul.no-list, ol.no-list {
    list-style-type: none;
    padding: 0;
  }
  ul li {
    > :first-child, ul:first-of-type {
      margin-top: 0px;
    }
  }
  ol li {
    > :first-child, ul:first-of-type {
      margin-top: 0px;
    }
  }
  ul {
    ul, ol {
      margin-bottom: 0;
    }
  }
  ol {
    ol, ul {
      margin-bottom: 0;
    }
  }
  dl {
    padding: 0;
    dt {
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
      padding: 0;
      margin: 15px 0 5px;
      &:first-child {
        padding: 0;
      }
      > {
        :first-child {
          margin-top: 0px;
        }
        :last-child {
          margin-bottom: 0px;
        }
      }
    }
    dd {
      margin: 0 0 15px;
      padding: 0 15px;
      > {
        :first-child {
          margin-top: 0px;
        }
        :last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
  blockquote {
    border-left: 4px solid #DDD;
    padding: 5px 15px;
    color: #777;
    background-color: #fff;
    > {
      :first-child {
        margin-top: 0px;
      }
      :last-child {
        margin-bottom: 0px;
      }
    }
  }
  table {
    th {
      font-weight: bold;
      border: 1px solid #ccc;
      padding: 6px 13px;
    }
    td {
      border: 1px solid #ccc;
      padding: 6px 13px;
    }
    tr {
      border-top: 1px solid #ccc;
      background-color: #fff;
      &:nth-child(2n) {
        background-color: #f8f8f8;
      }
    }
  }
  img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  span {
    &.frame {
      display: block;
      overflow: hidden;
      > span {
        border: 1px solid #ddd;
        display: block;
        float: left;
        overflow: hidden;
        margin: 13px 0 0;
        padding: 7px;
        width: auto;
      }
      span {
        img {
          display: block;
          float: left;
        }
        span {
          clear: both;
          color: #333;
          display: block;
          padding: 5px 0 0;
        }
      }
    }
    &.align-center {
      display: block;
      overflow: hidden;
      clear: both;
      > span {
        display: block;
        overflow: hidden;
        margin: 13px auto 0;
        text-align: center;
      }
      span img {
        margin: 0 auto;
        text-align: center;
      }
    }
    &.align-right {
      display: block;
      overflow: hidden;
      clear: both;
      > span {
        display: block;
        overflow: hidden;
        margin: 13px 0 0;
        text-align: right;
      }
      span img {
        margin: 0;
        text-align: right;
      }
    }
    &.float-left {
      display: block;
      margin-right: 13px;
      overflow: hidden;
      float: left;
      span {
        margin: 13px 0 0;
      }
    }
    &.float-right {
      display: block;
      margin-left: 13px;
      overflow: hidden;
      float: right;
      > span {
        display: block;
        overflow: hidden;
        margin: 13px auto 0;
        text-align: right;
      }
    }
  }
  code, tt {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
  }
  code {
    white-space: nowrap;
  }
  pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
  }
  .highlight pre {
    border: 1px solid #f0f0f0;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
  }
  pre {
    border: 1px solid #ccc;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f5f5f5;
    border-radius: 4px;
    code, tt {
      margin: 0;
      padding: 0;
      background-color: transparent;
      border: none;
    }
  }
}

.section-martor {}

.martor {
  height: 500px;
  max-height: 500px;
}

.martor-field {
  width: 100%;
  height: 250px;
  min-height: 100px;
}

.martor-preview {
  padding: 1rem;
  overflow: auto;
}

.icon.expand-editor {
  position: absolute;
  bottom: .8em;
  right: 0;
}

.no-border {
  border: none !important;
}