/* color glyph */
$glyph-color: white;

/* size glyph */
$glyph-height: 16px;
$glyph-width: 16px;

/* footer height */
$footer-height: 70px;

.nav-glyph-home > svg > g > g > path,
.nav-glyph-desk > svg > g > g > path,
.nav-glyph-desk > svg > g > g > g > path,
.nav-glyph-catalog > svg > g > path,
.nav-glyph-chat > svg > g > path,
.nav-glyph-admin > svg > g > path,
.nav-glyph-admin > svg > g > g > path,
.nav-glyph-course > svg > g > path,
.nav-glyph-search > svg > g > g > path{
  fill: $glyph-color;
}

.nav-glyph-admin > svg,
.nav-glyph-admin > svg {
  margin-top: 5px !important;
}

.nav-glyph > svg {
  float: left;
  margin-right: 5px;
  width: $glyph-width;
  height: $glyph-height;
  margin-top: 4px;
}

.nav-glyph-chat > svg {
  margin-top: 6px;
}

.edit-glyph > svg {
  margin-left: 5px;
  width: $glyph-width;
  height: $glyph-height;
  margin-top: 4px;
}

.space-ten {
  padding: 10px 0;
}

.space-ten-horizontal {
  padding: 0 10px;
}

.course.card {
    margin-bottom: .75rem;
}

.ratio {
    object-fit: cover;
    width: 100%;
    height: 100px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  height: unset !important;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
  height: unset !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  //line-height: $footer-height -2; /* Vertically center the text there */
}

/* Fix Bootstrap collapse
-------------------------------------------------- */
.collapse{
    display: none!important;
}

.collapse.show{
    display: block!important;
}

.styled-avatar{
    width: 150px;
    height: 150px;
}

/* Task Detail Seiten (Participant)
-------------------------------------------------- */
.task-button-orientation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-button {
    width:120px;
    margin: 2px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot');
  src: url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
       url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font: normal normal 16px/1 'Glyphicons Halflings';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-right: 4px;
}

.glyphicon-arrow-right:before{
    content:"\e092";
}

.glyphicon-ok:before{
    content:"\e013";
}

.glyphicon-chevron-left:before{
    content:"\e079"
}

.glyphicon-chevron-right:before{
    content:"\e080"
}

.user-success-true {
    color: #5CB85C;
}

.user-success-none {
    color: #BFBFBF;
}

.sidebar {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;

    word-wrap: break-word;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.sidebar-list-item{
    margin-left: -30px;
    padding-left: 0;
    list-style: none;
}

#task-detail-content {
  padding: .75rem 1.25rem;
}

// responsive stuff
#task-detail-page-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.sidebar, #task-detail-content {
  height: 100%;
}

.sidebar {
  margin-top: -16.5px;
}

#task-detail-content {
  order: 1;
}

@media screen and (max-width: 991px) {
  .sidebar {
    flex: 0 1 100%;
    width: 100%;
    order: 2;
  }

  #task-detail-content {
    flex: 0 1 100%;
    order: 1;
  }
}

@media screen and (min-width: 992px) {
  .sidebar {
    flex: 1 0 30%;
    max-width: 200px;
  }

  #task-detail-content {
    flex: 1 0 70%;
  }
}

@media screen and (min-width: 1150px) {
  .sidebar {
    max-width: 279px;
  }
}

/* edit course structure */
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.course-structure li.placeholder {
  position: relative;
}
ol.course-structure li.placeholder:before {
  position: absolute;
}

.structureUpdate .disabledStructureUpdate {
  display: none;
}

.course-glyph  > svg{
  width: $glyph-width;
  height: $glyph-height;
}

ol.course-structure li {
  display: block;
}

ol.course-structure li.placeholder {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  border: none;
}

ol.course-structure li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -5px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: black;
  border-right: none;
}

.lesson.up,
.lesson.down,
.task.up,
.task.down {
  display: none;
}

.structureUpdate.touch {
  .lesson.up,
  .lesson.down,
  .task.up,
  .task.down {
    display: inline;
  }
}

@media screen and (min-width: 772px) {
  .switch.course {
    float: right;
  }
}

@media screen and (max-width: 771px) {
  .switch.course {
    display: block;
    margin-top: 15px;
  }
}

/* Question answer styling
-------------------------------------------------- */
.correctAnswer {
    font-size: 0.7rem !important;
    color: #75C639;
}

.wrongAnswer {
    font-size: 0.7rem !important;
    color: #D93C00;
}

.question.up,
.question.down,
.answer.up,
.answer.down {
  display: none;
}

.structureUpdate.touch {
  .question.up,
  .question.down,
  .answer.up,
  .answer.down {
    display: inline;
  }
}

.structureUpdate.touch {
  .question.up,
  .question.down,
  .answer.up,
  .answer.down {
    display: inline;
  }
}

/* Category overview
-------------------------------------------------- */
.cat-button {
 margin-top: 5px;
}

.category-list-group {
    border:none;
}

.category-image {
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
}

.cat-alert .alert {
  padding-bottom: 0px !important;
}

/* Prerequisite overview
-------------------------------------------------- */
.prerequisite {
 margin-top: 5px;
 margin-bottom: 5px;
}

/* Everywhere
-------------------------------------------------- */
.enough-space-down {
  margin-bottom: 1rem;
}

.enough-space-up {
  margin-top: 1rem;
}

/* Programming exercise styling
-------------------------------------------------- */

#output {
  width:100%;
  height:auto;
  max-height:300px;
}

/* Video task styling
-------------------------------------------------- */
.embed-responsive-item {
  width: 100%;
}

/* home page
-------------------------------------------------- */

.home {
  .subtitle {
    font-size: 1.25rem;
  }

  .col-middle {
    display: flex; align-items: center;
  }

  @media screen and (max-width: 767px) {
     .banner {
       background-color: #e9ecef;
     }
  }

  @media screen and (min-width: 768px) {
    .banner {
      background-image: url("/static/img/banner.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .banner-login {
    width: 24px;
    height: 24px;
    margin-right: 0.3em;
  }

  @media screen and (min-width: 768px) {
    .grey-background {
      border-radius: 6px;
      background-color: #e9ecef;
    }

  }
}

.box {
  .title {
    font-weight: 300;
  }

  .paragraph {
    font-weight: 300;
  }
}

.login-box {
  padding: 1.5em;
  background-color: #e9ecef;
  border-radius: .3rem;
  margin-bottom: 2em;

  .title {
    font-weight: 300;
    margin-bottom: 0px;
  }

  .paragraph {
    font-weight: 300;
  }
}

.provider-link {
  .logo {
    width: 24px;
    height: 24px;
    margin-right: 0.3em;
  }
}

#messageContainer {
    min-height: 0px;
}

.image-box {
    height: 150px;
    background: red;
    background-image: url(/static/img/Course.jpg);
    background-position: center center;
    background-size: cover;
}
.card-title {
    //height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.course {
  height: 100%;

  .card-body {
    padding-bottom: 45px;
  }

  .body-buttons {
    position: absolute; bottom:1rem; right: 1.5rem; left: 1.5rem
  }
}

/* chat page
-------------------------------------------------- */

.chat-glyph > svg {
  margin-right: 5px;
  width: $glyph-width;
  height: $glyph-height;
}

.conversation .unread {
  font-weight: 500;
}

.spinning {
  > svg {
    height: 40px;
    width: auto;
  }
}

  /* Hover Style
  -------------------------------------------------- */
  .hover-box {
      position: relative;
      width: 50%;
  }

  .hover-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .hover-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .hover-box:hover .hover-image {
    opacity: 0.3;
  }

  .hover-box:hover .hover-middle {
    opacity: 1;
  }

  .hover-text {
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}

/***** Catalog ****/

.search-form {
  label{
  margin-right: 5px;
}

}

@media (min-width: 768px) and (max-width: 992px) {

  .search-form {
    .search-button {
        //text-align: right !important;
       > input {
         margin-top: 35px;
         //width: 100%;
       }

    }
  }
}

@media (min-width: 992px) {
  .search-form {
    #id_q {
      width: 270px
    }

    #id_categories {
      max-width: 170px;
    }
  }

  .my-form-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .form-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 0;
    }

    label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 0;
    }

    .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
  }
}

/***** Course details ****/
  .course-detail {
    p[aria-expanded="true"]{
      .toggle.down svg > g > path {
        fill: #6c757d;
      }
      .toggle.right {
        display: none;
      }
    }
    p[aria-expanded="false"]{
      .toggle.right svg > g > path {
        fill: #6c757d;
      }
        .toggle.down svg  {
        display: none;
      }
    }
  }


.right-eval-button {
    margin-left:50px;
}
