{% extends "administration/tasks/task_admin_detail.html" %}
{% load i18n %}
{% load staticfiles %}
{% load martortags %}
{% block references %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/martor.css' %}" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" media="all" rel="stylesheet" >
{% endblock %}

{% block task-content %}
    <div class="martor-preview">
    {{ object.content|safe_markdown }}
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}