{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block heading %}{% trans "Create lesson" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <hr>
            <input type="submit" class="btn btn-primary" value="{% trans "Create" %}" >
        </form>
    </div>
  </div>
{% endblock %}
