{% extends 'base.html' %}
{% load i18n %}

{% block heading %}{% trans "Delete lesson" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
        <form action="" method="post">
            {% csrf_token %}
            <p>
                {% blocktrans  %}
                    Are you sure you want to delete "{{ object }}"?
                {% endblocktrans %}
            </p>
            <hr>
            <input type="submit" class="btn btn-primary" autofocus value="{% trans "Confirm" %}" />
        </form>
    </div>
  </div>
{% endblock %}