{% extends 'base.html' %}
{% load i18n %}
{% load url_helper %}
{% load desk_url_helper %}
{% block content %}
    <ul>
   {% for lesson in lesson_list %}
        <li>{{ lesson.name }}</li>
            <ul>
                 {% for task in lesson.tasks.all|dictsort:"position" %}
                     <li><a href="{% get_task_detail_url task.derived_type task.slug %}">{{ task.name }}</a>&nbsp;
                         <a href="{% url 'administration:task_delete' task_slug=task.slug course_slug=course_slug %}">{% trans "Delete" %}</a>&nbsp;
                         <a href="{% get_task_update_url task.derived_type task.slug course_slug %}">{% trans "Update" %}</a>
                     </li>
                 {% endfor %}
            </ul>
    {% endfor %}
    </ul>
{% endblock %}