{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block heading %}{% trans "My Desk" %}{% endblock %}
{% block content %}
    <div class="row">
        {% for course in object_list %}
            <div class="col-md-4 mb-3">
                <div class="course card text-center">
                   <div class="card-img-container">
                       <div style="background-image:url({{ course.getPicture}})" class="image-box mx-auto d-block img-fluid card-img-top" title="Title image of a course"></div>
                   </div>
                    <div class="card-body">
                       <div class="card-text">

                               <h4 class="card-title">
                            {{ course.name }}
                            </h4>


                            <p class="card-content">{{ course.short_description }}</p>
                       </div>
                        <div class="body-buttons">
                            <div class="row">
                                <div class="col-6 text-left">
                                    <a href="{% url 'course:continue' course_slug=course.slug %}"
                                       class="btn btn-primary">{% trans 'Start' %}</a>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="{% url 'desk:course_detail' course_slug=course.slug %}"
                                       class="btn btn-primary">{% trans 'Details' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-md-12">
            <p>{% trans 'No courses available.' %}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
