{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block heading %}{% trans "Update video" %}{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <hr>
        <input type="submit" class="btn btn-primary" value="{% trans "Update" %}">
    </form>
{% endblock %}