{% extends "administration/tasks/task_admin_detail.html" %}
{% load i18n %}

{% block task-content %}
    <div align="center">
        <video autoplay controls class="embed-responsive-item" src="{{ object.upload.url }}">
        </video>
    </div>
{% endblock %}