{% extends "base.html" %}
{% load i18n %}

{% block heading %}{% trans "Category overview" %}{% endblock %}
{% block sub-heading %}<hr><a class="btn btn-primary" href="{%  url 'prerequisite:category_create' %}">{% trans 'Create a new category' %}</a>{% endblock %}

{% block content %}
    {% for category in object_list %}
        <div class="row">
            <div class="col-md-12">
               <ul class="list-group">
                   <li class="list-group-item category-list-group">
                       <h3 class="text-center">{{category.type}}</h3>
                       <div class="text-center">
                           <img class="category-image" src="{{ category.getPicture }}"/>
                       </div>
                       <div class="text-center cat-button">
                           <a href="{%  url 'prerequisite:category_update' category_slug=category.slug %}" class="update col-3 btn btn-secondary">{% trans 'Update' %}</a>
                           <a href="{%  url 'prerequisite:category_delete' category_slug=category.slug %}" class="delete col-3 btn btn-secondary">{% trans 'Delete' %}</a>
                       </div>
                   </li>
               </ul>
            </div>
        </div>
    {% empty %}
        <p>{% trans 'No categories available.' %}</p>
    {% endfor %}
{% endblock %}

