{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block heading %}{% trans "Update category" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12 cat-alert">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <hr>
            <input type="submit" class="btn btn-primary" value="{% trans "Update" %}" >
        </form>
    </div>
  </div>
{% endblock %}
