{% extends "base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block heading %}{% trans "Edit Profile" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-lg">
      <div class="hover-box">
        {% avatar user 235 class="mx-auto rounded-circle styled-avatar hover-image" alt="Avatar" %}
        <div class="hover-middle">
          <a class="hover-text" href="{% url 'avatar_change' %}">{% trans "Edit" %}</a>
        </div>
      </div>

    </div>
    <div class="col-sm"></div>
  </div>
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-lg-12">
      <!-- User Information -->
      <hr>
      <h4>{% trans "Change your Information" %}</h4>
      <hr>
      <form method="post">
        {% csrf_token %}
        <div>
          {{ form.email|as_crispy_field }}
        </div>
        <hr>
        <div class="">
          <p>{% trans "Name " %}<a class="" href="{% url 'user_profile:edit_profile' %}"><svg-icon class="edit-glyph"><src href="{% static 'svg/si-glyph-pencil.svg' %}"/></svg-icon></a></p>
        </div>
        <div class="">
          <p>{% trans "Password " %}<a class="" href="{% url 'user_profile:edit_password' %}"><svg-icon class="edit-glyph"><src href="{% static 'svg/si-glyph-pencil.svg' %}"/></svg-icon></a></p>
        </div>
        <hr>
        <input type="submit" class="btn btn-primary mt-4" value="{% trans "Update" %}" >
        <a class="btn btn-secondary mt-4" href="{% url 'user_profile:profile' %}">{% trans "Cancel" %}</a>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
{% endblock %}
