{% extends "base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block heading %}{% trans "Edit Specialties" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Title: "%}</th>
                    <th>{% trans "Knowledge level: "%}</th>
                    <th>{% trans "Update"%}</th>
                    <th>{% trans "Delete"%}</th>
                </tr>

            </thead>
              {% for specialty in specialties%}

            <tbody>
                <tr>
                    <td>{%blocktrans with title=specialty.title%}{{title}}{%endblocktrans%}</td>
                    <td>{%blocktrans with knowledge_level=specialty.knowledge_level%}{{knowledge_level}}{%endblocktrans%}</td>
                    <td><a href="{% url 'profile:edit_specialties' %}?specialty={{ specialty.slug }}">{% trans "Update" %}</a>
                    <td><a href="{% url 'profile:delete_specialties' %}?specialty={{ specialty.slug }}">{% trans "Delete" %}</a>
                </tr>
            </tbody>

          {% endfor%}
        </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm"></div>
    <div class="col-lg-12">
      <!-- User Information -->
      <hr>
      <p>{% trans "Add new Specialty" %}</p>
      <form method="post">
        {% csrf_token %}
        <div>
          {{ form.title|as_crispy_field }}
        </div>
        <div>
          {{ form.knowledge_level|as_crispy_field }}
        </div>
        <hr>
        <input type="submit" class="btn btn-primary mt-4" value="{% trans "Add" %}" >
        <a class="btn btn-secondary mt-4" href="{% url 'profile:profile' %}">{% trans "Cancel" %}</a>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
{% endblock %}
