{% extends "base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block heading %}{% trans "Edit Biography" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Position: " %}</th>
                    <th>{% trans "Institution: "%}</th>
                    <th>{% trans "From: "%}</th>
                    <th>{% trans "To: "%}</th>
                    <th>{% trans "Update"%}</th>
                    <th>{% trans "Delete"%}</th>
                </tr>

            </thead>
              {% for event in events%}
            <tbody>
                <tr>
                    <td>{%blocktrans with position=event.position%}{{position}}{%endblocktrans%}</td>
                    <td>{%blocktrans with institution=event.institution%}{{institution}}{%endblocktrans%}</td>
                    <td>{%blocktrans with from=event.start_date%}{{from}}{%endblocktrans%}</td>
                    <td>{%blocktrans with to=event.end_date%}{{to}}{%endblocktrans%}</td>
                    <td><a href="{% url 'profile:edit_biography' %}?event={{ event.slug }}">{% trans "Update" %}</a>
                    <td><a href="{% url 'profile:delete_biography' %}?event={{ event.slug }}">{% trans "Delete" %}</a>
                </tr>
            </tbody>

          {% endfor%}
        </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm"></div>
    <div class="col-lg-12">
      <!-- User Information -->
      <hr>
      <p>{% trans "Add new Event" %}</p>
      <form method="post">
        {% csrf_token %}
        <div>
          {{ form.position|as_crispy_field }}
        </div>
        <div>
          {{ form.institution|as_crispy_field }}
        </div>
        <div>
          {{ form.start_date|as_crispy_field }}
        </div>
        <div>
          {{ form.end_date|as_crispy_field }}
        </div>
        <hr>
        <input type="submit" class="btn btn-primary mt-4" value="{% trans "Add" %}" >
        <a class="btn btn-secondary mt-4" href="{% url 'profile:profile' %}">{% trans "Cancel" %}</a>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
{% endblock %}
