{% extends "base.html" %}
{% load i18n %}
{% load custom_tags %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block references %}
    <link href="{% static 'css/semantic.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all"
          rel="stylesheet"/>
    <link href="{% static 'martor/css/martor.min.css' %}" type="text/css" media="all"
          rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"
          media="all" rel="stylesheet">
{% endblock %}


{% block heading %}{% trans "Create a conversation" %}{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-12">
            <form action="" method="post">{% csrf_token %}
                <div>
                    {{ form.subject|as_crispy_field }}
                </div>
                <div>
                    {{ form.courses|as_crispy_field }}
                </div>
                <div>
                    <label>{% trans "Message" %}*</label>
                    {{ form.message|as_crispy_field }}
                </div>
                <hr>
                <input type="submit" class="btn btn-primary" value="{% trans "Create" %}">
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/semantic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'martor/js/martor.min.js' %}"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}