{% extends "base.html" %}
{% load i18n %}
{% load custom_tags %}
{% load custom_chat_tags %}
{% block heading %}{% trans "Your conversations" %}{% endblock %}
{% block content %}

    <div class="row">

        <div class="col-12">
            {% if can_create is True %}
                <a class="btn btn-primary mb-3"
                   href="{% url 'chat:conversation_create' %}">{% trans "Create a new conversation" %}</a>
            {% else %}
                <p>{% trans "You can only create a conversation, if you are an instructor of a course." %}</p>
            {% endif %}
        </div>

        {% if object_list %}
            <div class="col-12 conversation">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">{% trans "Course" %}</th>
                        <th scope="col">{% trans "Subject" %}</th>
                        <th scope="col">{% trans "Date" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for chat in object_list %}
                        <tr class="{% has_unread_messages_by_chat chat current_user %}">
                            <td scope="row"><a
                                    href="{% url 'chat:messages' chat_slug=chat.slug %}">{{ chat.course.name }}</a>
                            </td>
                            <td>
                                <a href="{% url 'chat:messages' chat_slug=chat.slug %}">{{ chat.subject }}</a>
                            </td>
                            <td><a href="{% url 'chat:messages' chat_slug=chat.slug %}">
                                {{ chat.last_message_date_time|date:'d.m.Y H:i' }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="col-12">
                <p>{% trans 'No conversations available.' %}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
