{% autoescape off %}{% load i18n %}{% load martortags %}
{{ message_content|safe_markdown }}

{% blocktrans %}
View it on <a href="{{ link_to_the_message }}">Learn Management System</a>
{% endblocktrans %}
{% blocktrans %}
    You're receiving this email because of your account on Learn Management System. If you'd like to receive fewer emails, you can adjust your <a href="{{ link_to_the_settings }}">notification settings</a>.
{% endblocktrans %}
{% endautoescape %}