{% extends "base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% load martortags %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block references %}
    <link href="{% static 'css/semantic.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all"
          rel="stylesheet"/>
    <link href="{% static 'martor/css/martor.min.css' %}" type="text/css" media="all"
          rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"
          media="all" rel="stylesheet">
{% endblock %}

{% block heading %}{% trans "Conversation: " %}{{ chat.subject }}{% endblock %}

{% block sub-heading %}
    {% if can_create is True %}
        <hr>
        <a href="{% url 'chat:conversation_delete' chat_slug=chat.slug %}"
               class="btn btn-secondary">{% trans "Delete this conversation" %}</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        {% for message in object_list %}
            <div class="col-12">
                <div class="row">
                    <div class="col-6 text-left">
                        {% avatar message.author 30 class="rounded-circle" style="float:left;margin-right:10px" %}
                        <p><strong>{{ message.author }}</strong></p>
                    </div>
                    <div class="col-6 text-right">
                        <p>
                            <svg-icon class="chat-glyph">
                                <src href="{% static 'svg/si-glyph-clock.svg' %}"/>
                            </svg-icon>
                            {{ message.created_at|date:'d.m.Y H:i'}}</p>
                    </div>
                    <div class="col-12">
                        <div class="martor-preview">
                            {{ message.content|safe_markdown }}
                        </div>
                    </div>
                </div>
                <hr>

            </div>
        {% endfor %}
        <div class="col-12">
            <form action="{% url 'chat:message_create' chat_slug=chat.slug %}" method="post">
                {% csrf_token %}
                <div>
                    <label>{% trans "Write your new message here..." %}*</label>
                    {{ form.message|as_crispy_field }}
                </div>
                <hr>
                <input type="submit" class="btn btn-primary" value="{% trans "Send" %}">
            </form>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/semantic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'martor/js/martor.min.js' %}"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}