{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="home">
        <div class="banner">
            <div class="container home">
                {% if user_logged_in == False %}
                <div class="row">
                    <div class="col-md-6 mt-md-5  mb-md-5 grey-background">
                        <h1 class="text-center display-4 pt-3">Learning Management System</h1>
                    <p class="text-center subtitle">Expand your knowledge by taking free courses with exciting tasks
                        or create a course to share your expertise with people all around the world.
                    </p>
                    </div>
                    <div class="col-md-1 d-none d-md-block"><br></div>
                    <div class="col-md-5 mt-md-5 mb-md-5 col-middle">

                        <div class="row grey-background">
                            <div class="col-12 text-center mt-2">
                                <p>You're just one step away from our ultimate knowledge boost. Sign up and start your new life.</p>
                            </div>
                            <div class="col-12 text-center mb-3">
                                <a class="text-center btn btn-primary btn-lg"
                                   href="{% url 'auth:register' %}"
                                   role="button">{% trans "Sign up" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif user_logged_in == True %}
                <div class="row">
                    <div class="col-md-3 d-none d-md-block"><br></div>
                    <div class="col-md-6 mt-md-5  mb-md-5 grey-background">
                        <h1 class="text-center display-4 pt-3">Learning Management System</h1>
                    <p class="text-center subtitle">Expand your knowledge by taking free courses with exciting tasks
                        or create a course to share your expertise with people all around the world.
                    </p>
                    </div>
                    <div class="col-md-3 d-none d-md-block"><br></div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container home pt-5">
        <div class="row">
             <article class="col-md-4 col-sm-6 box">
                <h2 class="title">Everything is free</h2>
                <p class="paragraph">Our entire offer is free. You do not have to worry about any additional costs.</p>
            </article>
            <article class="col-md-4 col-sm-6 box">
                <h2 class="title">Fast course creation</h2>
                <p class="paragraph">You want to create your first course quickly and easily? With this platform you have the freedom to design your course the way you want it.</p>
            </article>
            <article class="col-md-4 col-sm-6 box">
                <h2 class="title">Accessibility</h2>
                <p class="paragraph">There are no excuses. This page is accessible from any of your electronic devices. Whether smartphone, tablet or computer.</p>
            </article>
            <article class="col-md-4 col-sm-6 box">
                <h2 class="title">5 different tasks</h2>
                <p class="paragraph">This platform has the right task for every course content, whether pure text, a challenging quiz or a free text exercise.</p>
            </article>
            <article class="col-md-4 col-sm-6 box">
                 <h2 class="title">Track learning progress</h2>
                <p class="paragraph">Keep track of your activities and current learning progress</p>
            </article>
            <article class="col-md-4 col-sm-6 box">
                <h2 class="title">Live-Programming</h2>
                <p class="paragraph">Improve your programming skills by solving programming tasks in a Python browser editor.</p>
            </article>
        </div>
        <div class="row justify-content-md-center mt-2">
            <div class="col-md-8">
                {% if user_logged_in == False %}
                <div class="row login-box">
                    <article class="col-md-7 text-center col-middle">
                    <h3 class="title">Start using the Learning Management System</h3>
                    </article>
                    <div class="col-md-5 mt-3">
                        <div class="row">
                            <div class="col-6 col-md-12 col-lg-6 text-center">
                                <a class="text-center btn btn-primary btn-lg"
                                   href="{% url 'login' %}"
                                   role="button">{% trans "Login" %}</a></div>
                            <div class="col-6 col-md-12 col-lg-6 text-center pt-2">
                                <a class="provider-link" href="{% url 'social:begin' 'github' %}"
                                   role="button"><img class="logo"
                                                      src="{% static 'img/github_logo.png' %}"/>{% trans "Github" %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>


        </div>
        <div class="row justify-content-sm-center">
                <article class="col-md-6 box">
                    <h2 class="title text-center">Explore all available courses</h2>
                    <p class="lead text-center">Still not convinced? Here is an overview of all
                        courses. We are convinced that there is something for you too.</p>
                    <p class="text-center">
                     <a class="btn btn-secondary btn-lg" href="{% url 'catalog:courses' %}" role="button">Browse</a>

                    </p>
                </article>
        </div>
    </div>
{% endblock %}
