{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block heading %}Login{% endblock %}
{% block content %}
    {% if fail %}
        <p>{% trans "Try again" %}</p>{% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <hr>
            <input type="submit" class="btn btn-primary" value="{% trans "Login" %}" />
        </form>
        </br>
        <a class="provider-link"  href="{% url 'social:begin' 'github' %}"><img class="logo" src="{% static 'img/github_logo.png' %}"/>{% trans "GitHub Login" %}</a>
        </br>
        <a href="{% url 'auth:password_reset' %}">{% trans "Reset Password" %}</a>
        <br />
        <a href="{% url 'auth:register' %}">{% trans "Register" %}</a>
{% endblock %}
