{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block heading %}{% trans "Forgot password" %}{% endblock %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <hr>
    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
  </form>
{% endblock %}