{% extends 'base.html' %}
{% load i18n %}
{% url 'login' as login_url %}

{% block heading %}{% trans "Change password" %}{% endblock %}
{% block content %}
  <p>
  {% blocktrans %}
    Your password has been set. You may go ahead and <a href="{{ login_url }}">sign in</a> now.
  {% endblocktrans %}
  </p>
{% endblock %}