{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block heading %}{% trans "Change password" %}{% endblock %}
{% block content %}
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <hr>
      <button type="submit" class="btn btn-primary">{% trans "Change password" %}</button>
    </form>
  {% else %}
    <p>
    {% blocktrans %}
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    {% endblocktrans %}
    </p>
  {% endif %}
{% endblock %}