{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block heading %}{% trans "Update programming exercise" %}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
         {{ form|crispy }}
        <hr>
        <input type="submit" class="btn btn-primary" value="{% trans "Update" %}" >
    </form>
{% endblock %}