{% extends "administration/tasks/task_create.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block task_content %}
    <form method="post">
        {% csrf_token %}
          {{ form|crispy }}
        <hr>
        <input type="submit" class="btn btn-primary" value="{% trans "Create" %}" >
    </form>
{% endblock task_content %}
