{% extends "administration/tasks/task_admin_detail.html" %}
{% load i18n %}

{% block task-content %}
        <div>
            <p>{% trans "The Question is: " %}{{ object.task }}</p>
        </div>
{% endblock %}