{% extends "base.html" %}
{% load i18n avatar_tags %}
{% load crispy_forms_tags %}

{% block heading %}{% trans "Add your avatar" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-lg-12">
      <p>{% trans "Your current avatar: " %}</p>
      {% avatar user %}
      {% if not avatars %}
          <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
      {% endif %}
          <hr>
      <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
          {{ upload_avatar_form|crispy }}
          {% csrf_token %}
          <input type="submit" class="btn btn-secondary" value="{% trans "Upload new image" %}" />
      </form>
    </div>
   <div class="col-sm"></div>
  </div>
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-lg-12">
      <hr>
      <a class="btn btn-primary" href="{% url 'profile:profile' %}">{% trans "Back" %}</a>
    </div>
    <div class="col-sm"></div>
  </div>
{% endblock %}
