{% extends "base.html" %}
{% load i18n avatar_tags %}
{% load crispy_forms_tags %}

{% block heading %}{% trans "Change your avatar" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-lg-12 enough-space-down">
        <p>{% trans "Your current avatar: " %}</p>
        <p>{% avatar user %}</p>
        <p>
          <a class="btn btn-secondary enough-space-up" href="{% url 'avatar_delete' %}">{% trans "Delete your avatar" %}</a>
        </p>

      {% if not avatars %}
        <hr>
          <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
      {% else %}
        <hr>
          <form method="POST" action="{% url 'avatar_change' %}">
              {{ primary_avatar_form|crispy }}
              {% csrf_token %}
              <input type="submit" class="btn btn-secondary" value="{% trans "Choose new default" %}" />
              <hr>
          </form>
      {% endif %}
      <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
          {{ upload_avatar_form|crispy }}
          {% csrf_token %}
          <input type="submit" class="btn btn-secondary" value="{% trans "Upload new image" %}" />
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-lg-12">
      <hr>
      <a class="btn btn-primary enough-space-down" href="{% url 'profile:profile' %}" class="details">{% trans "Back" %}</a>
    </div>
    <div class="col-sm"></div>
  </div>
{% endblock %}
