{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block heading %}{% trans "Delete your avatar" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-lg-12">
      <p>{% trans "Please select the avatars that you would like to delete." %}</p>
      {% if not avatars %}
          {% url 'avatar_change' as avatar_change_url %}
          <p>{% blocktrans %}You have no avatars to delete. Please <a href="{{ avatar_change_url }}">upload one</a> now.{% endblocktrans %}</p>
      {% else %}
          <form method="POST" action="{% url 'avatar_delete' %}">
              {{ delete_avatar_form|crispy }}
              {% csrf_token %}
              <input type="submit" class="btn btn-secondary" value="{% trans "Delete These" %}" />
          </form>
      {% endif %}
    </div>
    <div class="col-sm"></div>
  </div>
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-lg-12">
      <hr>
      <a class="btn btn-primary" href="{% url 'avatar_change' %}">{% trans "Back" %}</a>
      <a class="btn btn-primary" href="{% url 'profile:profile' %}">{% trans "Edit profile" %}</a>
    </div>
    <div class="col-sm"></div>
  </div>
{% endblock %}
