server {
    listen 80;
    server_name 131.188.46.25 lernplattform.me www.lernplattform.me;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name 131.188.46.25 lernplattform.me www.lernplattform.me;

    ssl_certificate /etc/letsencrypt/live/{{ host }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ host }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ host }}/fullchain.pem;

    location = /favicon.ico { access_log off; log_not_found off; }
    
    location /static/ {
        root /home/{{ project_name }};
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/{{ project_name }}/run/gunicorn.sock;
    }
}
