{% extends "base.html" %}
{% load i18n %}
{% block js %}
<script>
    function submit() {
        document.body.getElementById('taskTypeForm').submit();
    }
</script>
{% endblock %}

{% block heading %}{% trans "Choose a type" %}{% endblock %}

{% block content %}
    <form id="taskTypeForm" method="POST">
        <div class="form-group">
             <label for="taskTypes">
                 {% blocktrans %}
                    Creating new task for "{{ lesson_name }}"
                 {% endblocktrans %}
             </label>
            <select id="taskTypes" name="taskTypes" onchange="submit();" class="form-control">
                {% for task in types %}
                <option {% if selected_task_url == task.url %}selected{% endif %} value="{{task.url}}">{{task.name}}</option>
                {% endfor %}
            </select>
            {% csrf_token %}
        </div>
    </form>
    <hr>

    {% block task_content %}
    {% endblock %}
{% endblock content %}
