{% extends 'base.html' %}
{% load i18n %}

{% block heading %}{% trans "Delete task" %}{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
            {% blocktrans %}
                Are you sure you want to delete "{{ object }}"?
            {% endblocktrans %}
        </p>
        <hr>
        <input type="submit" class="btn btn-primary" autofocus value="{% trans "Confirm" %}" />
    </form>
{% endblock %}